body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New',Courier,monospace;
    color: white;
}
.container {
    width: 1062px;
    margin: 48px auto;
}
.logo-container {
    line-height: 20px;
    letter-spacing: 2.7px;
    margin-top: 6px;
}
.pic {
    margin-top: -6px; 
    margin-left: -6px;
}
.header {
    margin-bottom: 30px;
}
.logo-container {
    float: left;
    width: 130px;
}
.logo-container a {
    text-decoration: none;
    display: block;
}
.clearfix {
    clear: both;
}
.mh {
    margin: -43px 0 0 58px;

}
.milan {
    color: white;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
}
.holidays {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.contacts {
    color: white;
    float: right;
    font-size: 20px;
    text-align: right;
    letter-spacing: -1.8px;
    margin-top: 6.5px;
}
.row {
    margin-left: -35px;
    margin-right: -35px;
}
.thumbnail {
    float: left;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 96px;
}
.thumbnail a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.footer {
    text-align: center;
    font-size: 13px;
    letter-spacing: -1.1px;
}

